body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  background-color: #eee;
}

div {
  background-color: rgba(51, 146, 198, 0.171);
}

#div1 {
  padding: 1rem;
  border-radius: 12px;
}

#divEmail,
#divButton {
  padding: 15px;
}

#textForm,
#textEmail {
  align-items: center;
  display: block;
  padding: 8px;
}

#textForm {
  color: green;
}

#textEmail {
  color: red;
}

#email,
#submit-button {
  border: 0.15rem solid #333;
  border-radius: 0.7rem;
  padding: 0.5em;
  align-items: center;
  display: block;
  background-color: rgba(62, 183, 243, 0.392);
  color: #333;
  width: 100%;
  max-width: 30ch;
}

#email {
  width: 90%;
}
